body
{
    background-color: rgb(184, 142, 224);
}

h1
{
color: black;
background-color: blanchedalmond;
font-family:"Playfair Display";

}

#show_sketch
{
    float:right;
}

canvas
{
border: 5px solid rgb(218, 156, 101);
border-radius: 20px;
animation-name: example;
animation-duration: 4s;
margin-top: 150px;
animation-iteration-count: infinite;
}

@keyframes example 
{
    from{box-shadow: 1px 1px 38px grey}
    to{box-shadow: 1px 1px 38px white}
}

p
{
padding-top: 10px;
font-size: 25px;
font-family:"Playfair Display";
}